@import '../../Palette.css';

.editComponent {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.editComponentBody {
    width: 325px;
    height: 80%;
    background-color: #C7C4DC;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.editComponentTitle {
    font-size: 32px;
    color: #000;
    margin-top: 15px;
}

.editComponentNameInput {
    margin-top: 40px;
    height: 50px;
    width: 280px;
    background-color: #C5C0FF;
    border: 2px #423B8E solid;
    border-radius: 16px;
    color: #2B2277;
    font-size: 12px;
    padding-left: 18px;
}

.editComponentActionInput {
    margin-top: 20px;
    width: 300px;
    height: 62px;
    border-radius: 16px;
    background-color: #464559;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editComponentActionTitle {
  flex-grow: 1;
  text-align: center;
  margin-right: -45px;
}

.editComponentActionLine {
    width: 1px;
    height: 62px;
    background-color: #000;
}

.editComponentActionButton {
    margin-right: 10px;
    margin-left: 10px;
}

.editComponentActionListArea {
    position: absolute;
    background-color: var(--secondary-container);
    top: 154px;
    width: 10%;
    border: 1px solid #000;
    border-radius: 16px 0px 16px 16px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-right: 25px;
}

.editComponentActionList {
    list-style: none;
    margin-top: 10px;
}

.editComponentActionListName {
    cursor: pointer;
}

.editComponentReactionInput {
    margin-top: 30px;
    width: 300px;
    height: 62px;
    border-radius: 16px;
    background-color: #464559;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editComponentReactionTitle {
    flex-grow: 1;
    text-align: center;
    margin-right: -45px;
}

.editComponentReactionLine {
    width: 1px;
    height: 62px;
    background-color: #000;
}

.editComponentReactionButton {
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.editComponentReactionListArea {
    position: absolute;
    background-color: var(--secondary-container);
    top: 246px;
    width: 10%;
    border: 1px solid #000;
    border-radius: 16px 0px 16px 16px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 50px;
    margin-right: 25px;
}

.editComponentReactionList {
    list-style: none;
    margin-top: 10px;
}

.editComponentParamArea {
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    height: 0%;
    margin-bottom: 10px;
}

.editComponentParamList {
    list-style: none;
}

.editComponentParamInput {
    margin-top: 15px;
    height: 35px;
    width: 250px;
    background-color: #C5C0FF;
    border: 2px #423B8E solid;
    border-radius: 16px;
    color: #2B2277;
    font-size: 12px;
    padding-left: 18px;
}

.editComponentButton {
    margin-top: 25px;
    border-radius: 16px;
    background-color: #464559;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 222px;
    height: 47px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.editComponentButtonText {
    color: #E4DFF9;
    font-size: 20px;
    font-weight: 400;
}

.editComponentButton:hover {
    scale: 1.05;
}
