@import '../../Palette.css';

.addComponent {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.addComponentBody {
    width: 325px;
    height: 80%;
    background-color: #C7C4DC;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.addComponentListIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.addComponentTitle {
    font-size: 32px;
    color: #000;
    margin-top: 15px;
}

.addComponentNameInput {
    margin-top: 40px;
    height: 50px;
    width: 280px;
    background-color: #C5C0FF;
    border: 2px #423B8E solid;
    border-radius: 16px;
    color: #2B2277;
    font-size: 12px;
    padding-left: 18px;
}

.addComponentActionInput {
    margin-top: 20px;
    width: 300px;
    height: 62px;
    border-radius: 16px;
    background-color: #464559;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addComponentActionTitle {
  flex-grow: 1;
  text-align: center;
  margin-right: -45px;
}

.addComponentActionLine {
    width: 1px;
    height: 62px;
    background-color: #000;
}

.addComponentActionButton {
    margin-right: 10px;
    margin-left: 10px;
}

.addComponentActionListArea {
    position: absolute;
    background-color: var(--secondary-container);
    top: 154px;
    width: 10%;
    border: 1px solid #000;
    border-radius: 16px 0px 16px 16px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-top: 30px;
    width: 175px;
}

.addComponentActionList {
    list-style: none;
    margin-top: 10px;
}

.addComponentActionListName {
    cursor: pointer;
}

.addComponentReactionInput {
    margin-top: 30px;
    width: 300px;
    height: 62px;
    border-radius: 16px;
    background-color: #464559;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addComponentReactionTitle {
    flex-grow: 1;
    text-align: center;
    margin-right: -45px;
}

.addComponentReactionLine {
    width: 1px;
    height: 62px;
    background-color: #000;
}

.addComponentReactionButton {
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.addComponentReactionListArea {
    position: absolute;
    background-color: var(--secondary-container);
    top: 246px;
    width: 10%;
    border: 1px solid #000;
    border-radius: 16px 0px 16px 16px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-top: 50px;
    width: 175px;
}

.addComponentReactionList {
    list-style: none;
    margin-top: 10px;
}

.addComponentParamArea {
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    height: 0%;
    margin-bottom: 10px;
}

.addComponentParamList {
    list-style: none;
}

.addComponentParamInput {
    margin-top: 15px;
    height: 35px;
    width: 250px;
    background-color: #C5C0FF;
    border: 2px #423B8E solid;
    border-radius: 16px;
    color: #2B2277;
    font-size: 12px;
    padding-left: 18px;
}

.addComponentButton {
    margin-top: 25px;
    border-radius: 16px;
    background-color: #464559;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 222px;
    height: 47px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.addComponentButtonText {
    color: #E4DFF9;
    font-size: 20px;
    font-weight: 400;
}

.addComponentButton:hover {
    scale: 1.05;
}
